// Imports at bottom

/* Custom Views */
.pn {
  height: 250px;
}
.darkblue-panel {
  color: white;
}
.header {
  position: fixed;
  z-index: 1002;
  background-color: #001416;
  left: 0;
  right: 0;
}


/*todolist*/
#sortable {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}
#sortable li {
  padding-left: 3em;
  font-size: 12px;
}
#sortable li i {
  position: absolute;
  left:6px;
  padding:4px 10px 0 10px;
  cursor: pointer;
}

#sortable li input[type=checkbox]{
  margin-top: 0;
}

.ui-sortable > li {
  padding: 15px 0 15px 35px !important ;
  position: relative;
  background: #f5f6f8;
  margin-bottom: 2px;
  border-bottom   : none !important;
}

.ui-sortable li.list-primary {
  border-left: 3px solid #41CAC0;
}

.ui-sortable li.list-success {
  border-left: 3px solid #78CD51;
}

.ui-sortable li.list-danger {
  border-left: 3px solid #FF6C60;
}

.ui-sortable li.list-warning {
  border-left: 3px solid #F1C500;
}

.ui-sortable li.list-info {
  border-left: 3px solid #58C9F3;
}

.ui-sortable li.list-inverse {
  border-left: 3px solid #BEC3C7;
}

/*--------------Tasks Widget--------------*/

.task-content {
  margin-bottom: 30px;
}

.task-panel {
background: #fff;
text-align: left;
box-shadow: 0px 3px 2px #aab2bd;
margin: 5px;
}

.tasks-widget .task-content:after {
clear: both;
}

.tasks-widget .task-footer  { 
margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
content: "";
display: table;
line-height: 0;
}

.tasks-widget .task-footer:after {
clear: both;
}

.tasks-widget  .task-list {
padding:0;
margin:0;
}

.tasks-widget .task-list > li {
position:relative;
padding:10px 5px;
border-bottom:1px dashed #eaeaea;
}

.tasks-widget .task-list  li.last-line {
border-bottom:none;
}

.tasks-widget .task-list  li > .task-bell  {
margin-left:10px;
}

.tasks-widget .task-list  li > .task-checkbox {
float:left;
width:30px;
}

.tasks-widget .task-list  li > .task-title  {
min-height: 8em;
margin-right:10px;
}

.tasks-widget .task-list  li > .task-config {
position:absolute;
top:10px;
right:10px;
}

.tasks-widget .task-list  li .task-title .task-title-sp  {
margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-title-sp  {
text-decoration:line-through;
color: #bbbbbb;
}

.tasks-widget .task-list  li.task-done  {
background:#f6f6f6;
}

.tasks-widget .task-list  li.task-done:hover {
background:#f4f4f4;
}

.tasks-widget .task-list  li:hover  {
background:#f9f9f9;
}

.tasks-widget .task-list  li .task-config {
display:none;
}

.tasks-widget .task-list  li:hover > .task-config {
display:block;
margin-bottom:0 !important;
}


@media only screen and (max-width: 320px) {

.tasks-widget .task-config-btn {
  float:inherit;
  display:block;
}

.tasks-widget .task-list-projects li > .label {
  margin-bottom:5px;
}

}

.col-md-6 {
  h2 {
    font-size: 3em;
    margin: .25em 0;
  }
  h5 {
    font-size: 1.5em;
  }
}